{% extends 'index/staff_index.html' %}

{% block content %}

    <script>
        function show_error(error, id) {
            var error_div = document.getElementById(id);
            error_div.value = error
            error_div.style.color = 'red'
            console.log('dddddddddddd')
        }
    </script>


    <div class="content">
        <link rel="stylesheet" type="text/css" href="../../static/css2/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../../static/css2/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/css2/select2.min.css">
        <script src="../../static/js2/jquery-3.2.1.min.js"></script>
        <script src="../../static/js2/popper.min.js"></script>
        <script src="../../static/js2/bootstrap.min.js"></script>
        <script src="../../static/js2/jquery.slimscroll.js"></script>
        <script src="../../static/js2/select2.min.js"></script>
        <script src="../../static/js2/moment.min.js"></script>
        <script src="../../static/js2/bootstrap-datetimepicker.min.js"></script>
        <script src="../../static/js2/app.js"></script>
        <div class="row">
            <div class="col-sm-12" style="margin-top: 10px">
                <h4 class="page-title">编辑个人信息</h4>
            </div>
        </div>
        <form id="form" method="post" action="{{ url_for('staff_all.edit_profile') }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="card-box">
                <h3 class="card-title">基本信息</h3>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-12">
                        <div class="profile-img-wrap">
                            <img class="inline-block" id="profile_image" style="border-radius: 50%"
                                 src="../../{{ url_image }}" alt="user">
                            <div class="fileupload btn">
                                <span class="btn-text">编辑头像</span>
                                {{ form.staffImage(class='upload') }}
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-focus focused">
                                        <label class="focus-label">姓名</label>
                                        {{ form.staffName(style="margin-top: 5px", class="form-control floating", value=staffInformation.staffName ) }}
                                        {% if form.staffName.errors %}
                                            {% for error in form.staffName.errors %}
                                                <script>
                                                    {% if error %}
                                                        show_error('{{ error|safe }}', '{{ form.staffName.id }}')
                                                    {% endif %}
                                                </script>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus focused" style="background-color: #fdffff;">
                                        <label class="focus-label">隶属部门(不可编辑)</label>
                                        <input type="text" style="margin-top: 5px; background-color: #fdffff"
                                               class="form-control floating" value="{{ staffDepartment }}"
                                               readonly="readonly" title="该字段为只读，不可编辑">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-focus focused" style="background-color: #fdffff">
                                        <label class="focus-label">职务名称(不可编辑)</label>
                                        <input type="text" style="margin-top: 5px; background-color: #fdffff"
                                               class="form-control floating" value="{{ staffPosition.positionName }}"
                                               readonly="readonly" title="该字段为只读，不可编辑">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-focus focused" style="background-color: #fdffff">
                                        <label class="focus-label">职务等级(不可编辑)</label>
                                        <input type="text" style="margin-top: 5px; background-color: #fdffff"
                                               class="form-control floating" value="{{ staffPosition.positionLevel }}"
                                               readonly="readonly" title="该字段为只读，不可编辑">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus focused" style="background-color: #fdffff">
                                        <label class="focus-label">职工ID(不可编辑)</label>
                                        <input type="text" style="margin-top: 5px; background-color: #fdffff; "
                                               class="form-control floating" value="{{ staff.staffId }}"
                                               readonly="readonly" title="该字段为只读，不可编辑">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-box" style="display: inline-block; min-height: 100%; min-width: 100%">
                <h3 class="card-title">详细信息</h3>
                <div class="row" style="display: inline-block; min-height: 100px; margin-top: 10px">
                    <div class="col-md-6">
                        <div class="form-group form-focus focused">
                            <label class="focus-label">性别</label>
                            {{ form.staffGender(style="margin-top: 5px", class="form-control floating", value=staffInformation.staffGender ) }}
                            {% if form.staffGender.errors %}
                                {% for error in form.staffGender.errors %}
                                    <script>
                                        {% if error %}
                                            show_error('{{ error|safe }}', '{{ form.staffGender.id }}')
                                        {% endif %}
                                    </script>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus focused">
                            <label class="focus-label">出生日期</label>
                            <div class="cal-icon">
                                {{ form.staffBirthday(class="form-control floating datetimepicker", style="margin-top: 5px", value=staffInformation.staffBirthday.day|string+"/"+staffInformation.staffBirthday.month|string+'/'+staffInformation.staffBirthday.year|string) }}
                                {% if form.staffBirthday.errors %}
                                    {% for error in form.staffBirthday.errors %}
                                        <script>
                                            {% if error %}
                                                show_error('{{ error|safe }}', '{{ form.staffBirthday.id }}')
                                            {% endif %}
                                        </script>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-focus focused">
                            <label class="focus-label">国籍</label>
                            {{ form.staffCountry(style="margin-top: 5px", class="form-control floating", value=staffInformation.staffCountry) }}
                            {% if form.staffCountry.errors %}
                                {% for error in form.staffCountry.errors %}
                                    <script>
                                        {% if error %}
                                            show_error('{{ error|safe }}', '{{ form.staffCountry.id }}')
                                        {% endif %}
                                    </script>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-focus focused">
                            <label class="focus-label">民族</label>
                            {{ form.staffNation( style="margin-top: 5px", class="form-control floating", value=staffInformation.staffNation) }}
                            {% if form.staffNation.errors %}
                                {% for error in form.staffNation.errors %}
                                    <script>
                                        {% if error %}
                                            show_error('{{ error|safe }}', '{{ form.staffNation.id }}')
                                        {% endif %}
                                    </script>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-focus focused">
                            <label class="focus-label">籍贯</label>
                            {{ form.staffHomeTown(style="margin-top: 5px", class="form-control floating", value=staffInformation.staffOrigin) }}
                            {% if form.staffHomeTown.errors %}
                                {% for error in form.staffHomeTown.errors %}
                                    <script>
                                        {% if error %}
                                            show_error('{{ error|safe }}', '{{ form.staffHomeTown.id }}')
                                        {% endif %}
                                    </script>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-focus focused" style="background-color: #fdffff">
                            <label class="focus-label">在职状态(不可编辑)</label>
                            {% if staff.staffState %}
                                <input type="text" style="margin-top: 5px; background-color: #fdffff"
                                       class="form-control floating" value="在职" readonly="readonly"
                                       title="该字段为只读，不可编辑">
                            {% else %}
                                <input type="text" style="margin-top: 5px; background-color: #fdffff"
                                       class="form-control floating" value="离职" readonly="readonly"
                                       title="该字段为只读，不可编辑">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus focused">
                            <label class="focus-label">电子邮件地址</label>
                            {{ form.staffEmail(style="margin-top: 5px", class="form-control floating", value=staffInformation.staffEmailAddress) }}
                            {% if form.staffEmail.errors %}
                                {% for error in form.staffEmail.errors %}
                                    <script>
                                        {% if error %}
                                            show_error('{{ error|safe }}', '{{ form.staffEmail.id }}')
                                        {% endif %}
                                    </script>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus focused">
                            <label class="focus-label">联系方式</label>
                            {{ form.staffPhoneNumber( style="margin-top: 5px", class="form-control floating", value=staffInformation.staffPhoneNumber) }}
                            {% if form.staffPhoneNumber.errors %}
                                {% for error in form.staffPhoneNumber.errors %}
                                    <script>
                                        {% if error %}
                                            show_error('{{ error|safe }}', '{{ form.staffPhoneNumber.id }}')
                                        {% endif %}
                                    </script>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12" style="display: inline-block; min-height: 100px;">
                        <div class="form-group form-focus focused"
                             style="display: inline-block; min-height: 100px; min-width: 100%">
                            <label class="focus-label" style="margin-bottom: 5px">现住址</label>
                            <textarea id="{{ form.staffAddress.id }}" name="{{ form.staffAddress.name }}"
                                      class="form-control floating"
                                      style="width: 100%;margin-top: 5px; height: 100%">{{ staffInformation.staffAddress }}</textarea>
                            {% if form.staffAddress.errors %}
                                {% for error in form.staffAddress.errors %}
                                    <script>
                                        {% if error %}
                                            show_error('{{ error|safe }}', '{{ form.staffAddress.id }}')
                                        {% endif %}
                                    </script>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12" style="display: inline-block; min-height: 150px;">
                        <div class="form-group form-focus focused"
                             style="display: inline-block; min-height: 150px; min-width: 100%">
                            <label class="focus-label" style="margin-bottom: 5px">备注信息</label>
                            <textarea id="{{ form.staffRemark.id }}" name="{{ form.staffRemark.name }}"
                                      class="form-control floating"
                                      style="width: 100%; margin-top: 5px;height: 100%">{{ staffInformation.staff_Remark }}</textarea>
                            {% if form.staffRemark.errors %}
                                {% for error in form.staffRemark.errors %}
                                    <script>
                                        {% if error %}
                                            show_error('{{ error|safe }}', '{{ form.staffRemark.id }}')
                                        {% endif %}
                                    </script>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="text-center m-t-20">
                    {{ form.submit(class="btn btn-primary submit-btn", id='submit', value='保存') }}
                </div>
            </div>
        </form>
    </div>



    {% if post %}
        {% if symbol %}
            <script>
                window.onload = function () {
                    alert('保存成功');
                };
            </script>
        {% else %}
            <script>
                var errors = "{{ form.errors|safe }}"
                window.onload = function () {
                    alert('保存失败: ' + errors);
                };
            </script>
        {% endif %}

    {% endif %}

    <script>
        const fileInput = document.getElementById('staffImage');
        const previewImage = document.getElementById('profile_image');

        fileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = (event) => {
                previewImage.src = event.target.result;
            };
            reader.readAsDataURL(file);
        });
    </script>

{% endblock %}