<!DOCTYPE html>
<html>
<head>
	<title>Password Change Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>

<!-- 引入 Bootstrap 和 jQuery -->
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- 引入 datetimepicker 插件 -->
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css">
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>

<!-- 设置时间选择器的输入框 -->
<div class="form-group">
    <label for="timepicker">选择时间</label>
    <input type="text" class="form-control" id="timepicker" name="timepicker" required>
</div>

<!-- 使用 datetimepicker 插件设置时间选择器 -->
<script>
    $('#timepicker').datetimepicker({
        datepicker: false, // 不显示日期选择器
        format: 'H:i:s', // 时间格式为 时:分:秒
        step: 5, // 时间间隔为 5 分钟
        icons: {
            up: "glyphicon glyphicon-chevron-up",
            down: "glyphicon glyphicon-chevron-down",
            previous: 'glyphicon glyphicon-chevron-left',
            next: 'glyphicon glyphicon-chevron-right'
        } // 使用 Bootstrap 图标
    });
</script>



</body>
</html>
