{% extends 'index/staff_index.html' %}


{% block content %}
<div class="content" style="margin-top: 13px">
    <link rel="stylesheet" type="text/css" href="../../static/css2/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css2/style.css">
                <div class="row">
                    <div class="col-sm-7 col-6">
                        <h4 class="page-title">个人资料</h4>
                    </div>
                    <div class="col-sm-5 col-6 text-right m-b-30">
                        <a href="edit-profile.html" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
                    </div>
                </div>
                <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                        <a href="#"><img class="avatar" src="../../static/img/profile_small.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="profile-info-left">
                                                <h3 class="user-name m-t-0 mb-0">{{ staff_information.staffName }}</h3>
                                                <small class="text-muted">部门：&nbsp; {{ Department.departmentName }}&nbsp;岗位：&nbsp; {{ Postion.positionName }} &nbsp; 岗位等级：{{ Postion.positionLevel }}</small>
                                                <div class="staff-id">职工 ID : &nbsp; {{ staff.staffId }}</div>
                                                <div class="staff-msg"><a href="#chat.html" class="btn btn-primary">Send Message</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">联系方式:</span>
                                                    <span class="text">{{ staff_information.staffPhoneNumber }}</span>
                                                </li>
                                                <li>
                                                    <span class="title">电子邮件地址:</span>
                                                    <span class="text">{{ staff_information.staffEmailAddress }}</span>
                                                </li>
                                                <li>
                                                    <span class="title">出生日期:</span>
                                                    <span class="text">{{ staff_information.staffBirthday }}</span>
                                                </li>
                                                <li>
                                                    <span class="title">籍贯:</span>
                                                    <span class="text">{{ staff_information.staffCountry }}/{{ staff_information.staffNation }}</span>
                                                </li>
                                                <li>
                                                    <span class="title">性别:</span>
                                                    <span class="text">{{ staff_information.staffGender }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="profile-tabs">
					<ul class="nav nav-tabs nav-tabs-bottom">
						<li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">About</a></li>
						<li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Profile</a></li>
						<li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Messages</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane show active" id="about-cont">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h3 class="card-title">备注</h3>
                            <div class="experience-box">
                                <p>{{ staff_information.staff_Remark }}</p>
                            </div>
                        </div>
                    </div>
                </div>
						</div>
						<div class="tab-pane" id="bottom-tab2">
							Tab content 2
						</div>
						<div class="tab-pane" id="bottom-tab3">
							Tab content 3
						</div>
					</div>
				</div>
            </div>


{% endblock %}