{% extends "base/base.html" %}

 {% block top %}
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="index_1.html#"><i
                                class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search"
                                       id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li id="datetime">
                            <script>
                                    setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);
                                </script>
                        </li>
                        <li>
                        <span class="m-r-sm text-muted welcome-message"><a href="{{ url_for('index.admin_index') }}" title="返回首页"><i
                                class="fa fa-home"></i></a>欢迎使用企业考勤管理系统</span>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="index.html#">
                                <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="../../static/img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46小时前</small>
                                            <strong>小四</strong> 项目已处理完结
                                            <br>
                                            <small class="text-muted">3天前 2014.11.8</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="../../static/img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">25小时前</small>
                                            <strong>国民岳父</strong> 这是一条测试信息
                                            <br>
                                            <small class="text-muted">昨天</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="mailbox.html">
                                            <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="index.html#">
                                <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="mailbox.html">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                                            <span class="pull-right text-muted small">4分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            <i class="fa fa-qq fa-fw"></i> 3条新回复
                                            <span class="pull-right text-muted small">12分钟钱</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="notifications.html">
                                            <strong>查看所有 </strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="{{ url_for('login.login') }}">
                                <i class="fa fa-sign-out"></i> 退出
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
 {% endblock %}


{% block left_content %}
    <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                            <img alt="image" class="img-circle" src="../../static/img/profile_small.png"/>
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="admin_index.html#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">
                                            {{ admin.adminId }}
                                        </strong>
                                    </span>
                                    <span class="text-muted text-xs block">
                                        系统管理员
                                        <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="../../static/form_avatar.html">修改头像</a>
                                </li>
                                <li><a href="../../static/profile.html">个人资料</a>
                                </li>
                                <li><a href="../../static/mailbox.html">信箱</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('login.login') }}">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            A+
                        </div>

                    </li>
                    <li class="active">
                        <a href="admin_index.html"><i class="fa fa-th-large"></i> <span class="nav-label">职工信息管理</span> <span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            {% for department in departments %}
                            <li><a href='/department_manage/{{ department.departmentId }}'>{{ department.departmentName }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="admin_index.html#"><i class="fa fa fa-globe"></i> <span class="nav-label">考勤记录统计</span><span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="toastr_notifications.html">总况</a>
                            </li>
                            <li><a href="nestable_list.html">出勤/工时统计</a>
                            </li>
                            <li><a href="timeline_v2.html">迟到统计</a>
                            </li>
                            <li><a href="forum_main.html">早退统计</a>
                            </li>
                            <li><a href="code_editor.html">休假统计</a>
                            </li>
                            <li><a href="modal_window.html">出差统计</a>
                            </li>
                            <li><a href="validation.html">加班统计</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="admin_index.html#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">职工考勤设置</span><span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="graph_echarts.html">出勤设置</a>
                            </li>
                            <li><a href="graph_flot.html">休假设置</a>
                            </li>
                            <li><a href="graph_morris.html">出差设置</a>
                            </li>
                            <li><a href="graph_rickshaw.html">加班设置</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">留言/公告</span><span
                                class="label label-warning pull-right">16</span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="mailbox.html">收件箱</a>
                            </li>
                            <li><a href="mail_compose.html">发布公告</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="admin_index.html#"><i class="fa fa-edit"></i> <span class="nav-label">人脸信息管理</span><span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="form_basic.html">人脸信息</a>
                            </li>
                            <li><a href="form_validate.html">？人脸签到？</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
{% endblock %}


{% block content %}
     <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-3">
            <h2>Hello,Beaut-zihan</h2>
            <small>您有32条消息和6个待处理事项</small>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                            <span class="pull-right">
                                    09:00
                                </span>
                    <span class="label label-success">1</span> 请联系我
                </li>
                <li class="list-group-item">
                            <span class="pull-right">
                                    10:16
                                </span>
                    <span class="label label-info">2</span> 签订合同
                </li>
                <li class="list-group-item">
                            <span class="pull-right">
                                    08:22
                                </span>
                    <span class="label label-primary">3</span> 新分店开张
                </li>
                <li class="list-group-item">
                            <span class="pull-right">
                                    11:06
                                </span>
                    <span class="label label-default">4</span> 打电话给XX
                </li>
                <li class="list-group-item">
                            <span class="pull-right">
                                    12:00
                                </span>
                    <span class="label label-primary">5</span> 发邮件给XX
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="flot-chart dashboard-chart">
                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
            </div>
            <div class="row text-left">
                <div class="col-xs-4">
                    <div class=" m-l-md">
                        <span class="h4 font-bold m-t block">&yen; 406,100</span>
                        <small class="text-muted m-b block">销售营销报告</small>
                    </div>
                </div>
                <div class="col-xs-4">
                    <span class="h4 font-bold m-t block">&yen; 150,401</span>
                    <small class="text-muted m-b block">年销售收入</small>
                </div>
                <div class="col-xs-4">
                    <span class="h4 font-bold m-t block">&yen; 16,822</span>
                    <small class="text-muted m-b block">半年收入利润率</small>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="statistic-box">
                <h4>
                    项目的进度
                </h4>
                <p>
                    您还有两项未完成的任务
                </p>
                <div class="row text-center">
                    <div class="col-lg-6">
                        <div class="chart easypiechart inline" data-percent="73"><span
                                class="easypie-text">61%</span>
                        </div>
                        <h5>OA测</h5>
                    </div>
                    <div class="col-lg-6">
                        <div class="chart2 easypiechart inline" data-percent="33"><span
                                class="easypie-text">31%</span>
                        </div>
                        <h5>CRM</h5>
                    </div>
                </div>
                <div class="m-t">
                    <small>请尽快完成相关项目的开发、测试工作</small>
                </div>

            </div>
        </div>
    </div>
{% endblock %}