{% extends "base/base.html" %}

{% block content %}
     <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-3">
            <h2>Hello,Beaut-zihan</h2>
            <small>您有32条消息和6个待处理事项</small>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                            <span class="pull-right">
                                    09:00
                                </span>
                    <span class="label label-success">1</span> 请联系我
                </li>
                <li class="list-group-item">
                            <span class="pull-right">
                                    10:16
                                </span>
                    <span class="label label-info">2</span> 签订合同
                </li>
                <li class="list-group-item">
                            <span class="pull-right">
                                    08:22
                                </span>
                    <span class="label label-primary">3</span> 新分店开张
                </li>
                <li class="list-group-item">
                            <span class="pull-right">
                                    11:06
                                </span>
                    <span class="label label-default">4</span> 打电话给XX
                </li>
                <li class="list-group-item">
                            <span class="pull-right">
                                    12:00
                                </span>
                    <span class="label label-primary">5</span> 发邮件给XX
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="flot-chart dashboard-chart">
                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
            </div>
            <div class="row text-left">
                <div class="col-xs-4">
                    <div class=" m-l-md">
                        <span class="h4 font-bold m-t block">&yen; 406,100</span>
                        <small class="text-muted m-b block">销售营销报告</small>
                    </div>
                </div>
                <div class="col-xs-4">
                    <span class="h4 font-bold m-t block">&yen; 150,401</span>
                    <small class="text-muted m-b block">年销售收入</small>
                </div>
                <div class="col-xs-4">
                    <span class="h4 font-bold m-t block">&yen; 16,822</span>
                    <small class="text-muted m-b block">半年收入利润率</small>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="statistic-box">
                <h4>
                    项目的进度
                </h4>
                <p>
                    您还有两项未完成的任务
                </p>
                <div class="row text-center">
                    <div class="col-lg-6">
                        <div class="chart easypiechart inline" data-percent="73"><span
                                class="easypie-text">61%</span>
                        </div>
                        <h5>OA测</h5>
                    </div>
                    <div class="col-lg-6">
                        <div class="chart2 easypiechart inline" data-percent="33"><span
                                class="easypie-text">31%</span>
                        </div>
                        <h5>CRM</h5>
                    </div>
                </div>
                <div class="m-t">
                    <small>请尽快完成相关项目的开发、测试工作</small>
                </div>

            </div>
        </div>
    </div>
{% endblock %}