<!DOCTYPE html>
<html>
<head>
  <title>404 Page Not Found</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>404 Page Not Found</h1>
    <p>The page you requested could not be found.</p>
    <p>You will be redirected to the login page in <span id="countdown">5</span> seconds.</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    var timeLeft = 5;
    var countdownTimer = setInterval(function() {
      timeLeft--;
      $("#countdown").html(timeLeft);
      if (timeLeft == 0) {
        clearInterval(countdownTimer);
        window.location.href = "/login";
      }
    }, 1000);
  </script>
</body>
</html>

